
@model Category

<form method="post">
    <div class="border p-3 mt-4" style="width: 70%; margin: 40px;">
         <div class="col-12 text-center bg-success" >
            <h2 class="text-dark, p=2">Edit Category</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row p-1" style="width: 70%; margin: 40px;">
            <label class="p=3">Category Name</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1" style="width: 70%; margin: 40px;">
            <label asp-for="DisplayOrder" class="p-0"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-4" style="width: 30%; margin: 40px;">
                 <button type="submit" class="btn btn-dark form-control" >Update</button>
            </div>
            <div class="col-6 mt-4" style="width: 30%; margin: 40px;">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control">
            back to List
                </a>
            </div>
        </div>
    </div>
</form>

            @section Scripts{
                @{
                    <partial name="_ValidationScriptsPartial"/>
                }
            }

