@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <i class="bi bi-film"></i>
    <h1 class="display-4">Movies House </h1>
    <p>Welcome to Movies House, your premier destination for cinematic entertainment! we would like to provide you with an amazing movie experience. </a>.</p>
</div>
